
<%= form_for @employee do |f| %>
  
  <%= render 'shared/errormessages', :object => f.object %>

  <div>
    <%= f.label "First Name: " %>
    <%= f.text_field :first_name %><br />
    <%= f.label "Last Name: " %>
    <%= f.text_field :last_name %><br />
    <%= f.label "Role: " %><br />

    <% Role.all.each do |role| %>
      <div>
        <%= check_box_tag 'employee[role_ids][]', role.id, @employee.roles.include?(role) %>
        <%= role.name %>
      </div>
    <% end %>

    <%= f.submit submit_text %>
  </div>

  <p>  
    <%= link_to "Cancel", employees_url  %> 
  </p>

<% end %>


