
<%= form_for @employee do |f| %>
  
  <%= render 'errormessages' %>

  <div>
    <%= f.label "First Name: " %>
    <%= f.text_field :first_name %><br />
    <%= f.label "Last Name: " %>
    <%= f.text_field :last_name %><br />
    <%= f.submit submit_text %>
  </div>

<% end %>


