<h1>Employees</h1>

<table>
  <% @employees.each do |employee| %>
    <tr>
      <td>
        <%= link_to employee.full_name, employee %>
      </td>
      <td>
        <%= link_to "delete", employee, :method => :delete, 
          :confirm => "Are you sure you want to delete #{employee.full_name}?", :title => "Delete #{employee.full_name}"%>    
      </td>
      <td>
        <%= link_to "edit", edit_employee_path(employee) %>    
      </td>
    </tr>
  <% end %>
</table>
<p>
  <%= link_to "New Employee", new_employee_url  %> |
  <%= link_to "Dashboard", root_path  %>
</p>
