
<p>First Name: <%= @employee.full_name %> </p>

<p>
  <%= link_to "Delete", @employee, :method => :delete, 
      :confirm => "Are you sure you want to delete #{ @employee.full_name }?" %> |
  <%= link_to "Edit", edit_employee_url(@employee) %> |
  <%= link_to "All Employees", employees_path %>
</p>

<br />
<p>Roles: </p>
<ul>  
  <% @employee.roles.each do |role| %> 
    <li> <%=  role.name %> </li>
  <% end %>
</ul>

<br />

<p>Days worked:</p>

<ul>
  <% @employee.days_worked.each do |workday| %>
  <li> <%= workday.schedule.date %> </li>
  <% end %>
</ul>

