
<%= form_for @schedule do |f| %>
  <%= f.label "Date" %>
  <%= f.date_select :date, :start_year => Time.now.year %> <br />

  <%= f.label "Template day" %>
  <%= f.collection_select :day_id, @day_templates, :id, :name %> <br />

  <%= f.submit "Create" %>

<% end %>

<h3> Results of Ajax request here to generate the appropriate number and type
      of shifts and have shifts filled randomly with employees
</h3>
