
<%= form_for @role do |f| %>
  
  <%= render 'shared/errormessages', :object => f.object %>

  <%= f.label "Name" %>
  <%= f.text_field :name %><br />
  <%= f.submit submit_text %>
<% end %>

<p> <%= link_to "Cancel", roles_url %> </p>
