<!DOCTYPE html>
<html>
<head>
  <title>Scheduler</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="container">
    <div id="user_nav">
      <% if user_signed_in? %>
          Signed in as <%= current_user.email %>. Not you?
          <%= link_to "Sign out", destroy_user_session_path %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
      <% end %>
    </div>
  </div>
  
  <% if user_signed_in? %>
    <ul>
      <li> <%= link_to "Dashboard", root_url %> </li>
      <li> <%= link_to "New Employee", new_employee_url %> </li>
      <li> <%= link_to "Employees", employees_url %></li>
      <li> <%= link_to "New Role", new_role_url %></li>
      <li> <%= link_to "Roles", roles_url %></li>
      <li> <%= link_to "New Shift", new_shift_url %></li>
      <li> <%= link_to "Shifts", shifts_url %></li>
    </ul>
  <% end %>

  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, :class => "flash-#{key}"); %>
  <% end %>

<%= yield %>

</body>
</html>
